.container_transfer_money_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Đảm bảo chiều cao bằng toàn màn hình */
    margin: 0; /* Loại bỏ khoảng cách mặc định */
}

.container_transfer_money{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff; /* Màu chữ trắng để nổi bật trên nền xanh */
  }
  
  input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Chiều rộng đầy đủ */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi chiều rộng */
  }  