.container {
}

textarea {
  font-size: 18px;
  padding: 7px 5px 0 12px;
  box-sizing: border-box;
  font-family: monospace;
}

.btnGroup {
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btnGroup > input {
  margin-bottom: 15px;
}

.btnGroup > button {
  padding: 12px 0px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: greenyellow;
  color: blue;
  font-weight: bolder;
  font-family: monospace;
  border: none;
  text-decoration: none;
}

.btnGroup > button:hover {
  color: orangered;
  background-color: aqua;
}

.btnGroup > button:active {
  background-color: green;
  color: #fff;
}

@media only screen and (max-width: 740px) {
  .container {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .btnGroup {
    height: auto;
  }

  textarea {
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 10px;
    width: 95%;
    height: 20vh;
  }

  .btnGroup > input {
    font-size: 16px;
    margin-bottom: 10px;
  }

  audio {
    margin-bottom: 6%;
  }
}
