.btnGroup > button {
    padding: 10px 7px;
    border-radius: 3px;
}

.messageText {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;

  color: yellow;
  font-size: 26px;
  text-align: center;
}